{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Recuperar contraseña</title>
  </head>
  <body>
    <nav>
      <img src="./assets/logo-gym.png" alt="logo" />
      <p>Recuperar contraseña</p>
    </nav>
    <div class="layout">
      <form class="form_wrapper" action="http://www.google.com">
        <img src="./assets/lock.png" alt="candado" />
        <p>Por favor cambie su contraseña</p>
        <div class="input_style first">
          <label>New password</label>
          <input
            type="password"
            name="password"
            placeholder="Introducir la contraseña"
            required
          />
        </div>
        <div class="input_style">
          <label>Confirm password</label>
          <input
            type="password"
            name="check_password"
            placeholder="Confirmar la contraseña"
            required
          />
        </div>
        <button class="btn_submit" type="submit">Change now</button>
      </form>
    </div>
  </body>
</html>
{% endautoescape %}