body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.active {
  color: white;
  background: rgba(12, 168, 189, 1);
}
.image {
  size: lg;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 280px;
  background-color: rgba(11, 20, 57, 1);
  padding: 10px 14px;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  opacity: 1;
  pointer-events: none;
}
.sidebar .logo_content .logo .image {
  size: 52px;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo .bx {
  font-size: 28px;
  margin-right: 10px;
}

.logo_content .logo .logo_name {
  font-size: 40px;
  font-weight: 400;
  margin-left: 30px;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn {
  left: 90%;
}
.sidebar ul {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.sidebar ul li {
  background: rgba(26, 61, 99, 1);
  border-radius: 30px;
  position: relative;
  height: 45px;
  width: 100%;
  margin: 25px 1px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: white;
  height: 45px;
  background: rgba(12, 168, 189, 1);
  border-radius: 30px;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar ul li a .iconito {
  size: lg;
}

.sidebar .links_names {
  opacity: 1;
  pointer-events: auto;
  font-size: 22px;
  font-weight: 400;
}

.sidebar.active .links_names {
  opacity: 0;
  pointer-events: auto;
}

.barra_superior {
  background-color: rgba(11, 20, 57, 1);
  float: right;
  width: calc(100% - 240px);
  transition: all 0.5s ease;
  padding: 10px 10px;
  height: 100px;
  overflow: hidden;
}

.barra_superior.active {
  width: calc(100% - 240px);
}

.barra_superior .correo {
  color: #fff;
  float: right;
  height: 50px;
  margin-right: 100px;
}
.barra_superior .correo .nombre_correo {
  font-size: 15px;
  font-weight: 400;
}

.barra_superior .perfil {
  color: #fff;
  float: right;
  height: 50px;
  width: 200px;
  padding: 0px 20px;
  pointer-events: none;
}

.barra_superior .perfil .info_perfil {
  font-size: 15px;
  font-weight: 400;
  margin-left: 50px;
}
