.containerPrincipalR {
  position: absolute;
  height: 300px;
  width: 450px;
  left: 40%;
  top: 30%;
  transform: translateY(-50%, -50%);
  border: 1px solid rgba(11, 20, 57, 1);
  padding: 40px;
  background: rgba(11, 20, 57, 1);
  border-radius: 20px;
}

.containerSecundarioR {
  text-align: center;
  color: #fff;
}

.containerSecundarioR .btn-primary {
  color: #fff;
  background-color: rgba(3, 172, 0, 1);
  border-color: #0d6efd;
}

.PrincipalReset{
  background: url("../assets/img/login/gym2.jpg");
  width: 100%;
  height: 100vh;
}